@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


.header {
  display: flex;
  color: grey;
  text-decoration: none;
}

.footer {
  display: flex;


}

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;



}

.logo {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 25vh;

}

.buttons {

  display: flex;
  justify-content: center;
  align-self: center;
  padding: 10px;
}

.input {
  display: flex;
  justify-content: center;
  align-self: center;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.left-links {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  

}

.right-links {
  list-style: none;
  display: flex;
  margin-left: auto;
  gap: 20px;

}


a {
 text-decoration: none;
      color: grey;
}

.content {
  min-height: 65vh;
  align-items: center;

}





